In [ ]:
                                       # 12-11-2025  by vikas sir

In [1]:
import numpy as np
import pandas as pd

In [ ]:
# Series

In [7]:
ar = np.array([12,3,4,5,7,85])
ls = [1,2,3,4,54]
pd.Series(ar)   # series generated by array
pd.Series(ls)   # series generated by list

0     1
1     2
2     3
3     4
4    54
dtype: int64

In [8]:
t = (2,3,4,5,6,7)
pd.Series(t)

0    2
1    3
2    4
3    5
4    6
5    7
dtype: int64

In [17]:
dic = {'56,67}

name       [t, u, s]
age     [34, 56, 67]
dtype: object

In [ ]:
# 13-11-2025

In [ ]:
-------  Attributes

In [7]:
a = [23,4,56,87,67,65,67]
a1 = pd.Series(a,name= 'name')

In [3]:
a1.size

7

In [4]:
a1.index

RangeIndex(start=0, stop=7, step=1)

In [5]:
a1.dtype

dtype('int64')

In [8]:
a1.name

'name'

In [9]:
a1.is_unique

False

In [10]:
a1.values

array([23,  4, 56, 87, 67, 65, 67], dtype=int64)

In [ ]:
# 14-11-2025

In [3]:
# Method of series

a = [12,3,4,5,9,7,87,6,5]
a1 = pd.Series(a)

In [13]:
# head
a1.head()

0    12
1     3
2     4
3     5
4     9
dtype: int64

In [5]:
a1.head(2)

0    12
1     3
dtype: int64

In [14]:
# tail
a1.tail()

4     9
5     7
6    87
7     6
8     5
dtype: int64

In [15]:
# value_counts
a1.value_counts()

5     2
12    1
3     1
4     1
9     1
7     1
87    1
6     1
Name: count, dtype: int64

In [16]:
# sort_values
a1.sort_values()

1     3
2     4
3     5
8     5
7     6
5     7
4     9
0    12
6    87
dtype: int64

In [17]:

a1.sort_values(ascending = False)

6    87
0    12
4     9
5     7
7     6
3     5
8     5
2     4
1     3
dtype: int64

In [11]:
# sort_index
a1.sort_index()

0    12
1     3
2     4
3     5
4     9
5     7
6    87
7     6
8     5
dtype: int64

In [12]:
a1.sort_index(ascending = False)

8     5
7     6
6    87
5     7
4     9
3     5
2     4
1     3
0    12
dtype: int64

In [18]:
# chaining method 

b = [12,3,4,5,9,7,87,6,5]
b1 = pd.Series(b)

In [19]:
print(b1.sort_values().head(1).values[0])

3

In [ ]:
# customized index

In [20]:
Score = [23,56,87,98,98]
Name=['a','b','c','d','e']

s = pd.Series(Score,index = Name)
s

a    23
b    56
c    87
d    98
e    98
dtype: int64

In [ ]:
                                                 # 17-11-2025

In [ ]:
# fancing indexing

In [8]:
# null variation

a = [23,56,np.nan,87,np.nan,88,np.nan,98,78]
ase = pd.Series(a)
# is null
ase.isnull()

0    False
1    False
2     True
3    False
4     True
5    False
6     True
7    False
8    False
dtype: bool

In [12]:
# not null
ase.notnull()

0     True
1     True
2    False
3     True
4    False
5     True
6    False
7     True
8     True
dtype: bool

In [13]:
# has nan ---------- ir is an atribute
ase.hasnans

True

In [14]:
#uniue
ase.unique()

array([23., 56., nan, 87., 88., 98., 78.])

In [16]:
# nuniue   --- not include the nan  value
ase.nunique()

6

In [ ]:
#                                          20-11-2025

In [ ]:
# dataframe

In [9]:
#read

df = pd.read_csv(r"C:\Users\HP\Downloads\government_data_science_opportunities.csv")

In [10]:
df

,Organization,Common_Positions,Entry_Requirements,Approximate_Salary_Range,Key_Benefits
0,Indian Space Research Organisation (ISRO),"Scientist/Engineer SC, Data Scientist","ME/MTech/MSc, GATE/ICRB Exam","₹56,000 - ₹1,77,000","Research opportunities, International projects"
1,Defence Research & Development Organisation (D...,"Research Associate, Scientist B, Data Analyst","BE/BTech/ME/MTech, GATE Score","₹56,000 - ₹1,77,000","Defense technology, National security projects"
2,Reserve Bank of India (RBI),"Data Scientist, Data Analyst, Economist","Graduate/Postgraduate, Direct Recruitment","₹40,000 - ₹1,50,000","Financial sector expertise, Policy making"
3,National Informatics Centre (NIC),"Scientist B, Data Analyst, System Analyst","BE/BTech/MCA, GATE/NIELIT Exam","₹44,900 - ₹1,42,000","Digital governance, IT infrastructure"
4,Indian Council of Medical Research (ICMR),"Project Research Scientist, Data Manager",PhD/MSc in relevant field,"₹35,000 - ₹1,00,000","Healthcare research, Medical data analysis"
5,Digital India Corporation,"Data Scientist, Senior Data Scientist","BE/BTech/MSc, Direct Application","₹50,000 - ₹1,25,000","AI/ML initiatives, Innovation projects"
6,Geological Survey of India (GSI),"Data Scientist, Geoinformatics Specialist",MSc/MTech Geology/Earth Sciences,"₹56,000 - ₹1,77,000","Mineral exploration, Environmental data"
7,Indian Statistical Institute (ISI),"Statistical Officer, Data Analyst","MSc Statistics/Mathematics, UPSC ISS","₹44,900 - ₹1,42,000","Statistical research, Survey methodology"
8,Invest India,"Data Analyst, Research Analyst",Graduate with 2+ years experience,"₹40,000 - ₹50,000","Investment promotion, Business analytics"
9,Ministry of Statistics (MoSPI),"Statistical Officer, JSO, SSO","MSc Statistics, UPSC ISS Exam","₹44,900 - ₹1,42,000","National statistics, Economic surveys"
10,Translational Health Science Institute,"Data Scientist, Computer Programmer",MSc/MTech/PhD in relevant field,"₹40,000 - ₹80,000","Biomedical research, Health technology"
11,Various State Governments,"Data Analyst, MIS Executive","Graduate/Postgraduate, State PSC","₹25,000 - ₹70,000","Local governance, Public service delivery"
12,Public Sector Undertakings (PSUs),"Data Engineer, Technical Officer","BE/BTech, GATE Score","₹50,000 - ₹1,50,000","Industrial projects, Infrastructure development"
13,Central Adoption Resource Authority,"Data Analyst, Assistant Director",Graduate with relevant experience,"₹40,000 - ₹70,000","Child welfare, Social impact analytics"

In [11]:
df.size

70