# BASIC LEVEL (15 Questions)


1. Create a Pandas Series from a Python list and print its data type.


2. Create a DataFrame from a Python dictionary.


3. Read a CSV file into a DataFrame and display its first 10 rows.


4. Display the shape, size, and column names of a given DataFrame.


5. Select a single column and multiple columns from a DataFrame.


6. Access specific rows using iloc and loc.


7. Add a new column to a DataFrame.


8. Delete a column or row from a DataFrame.


9. Check for null and non-null values in a DataFrame.


10. Fill missing values with mean or median using fillna().


11. Drop all rows containing missing values using dropna().


12. Rename columns in a DataFrame.

In [ ]:
13. Change the data type of a column using astype().

In [ ]:
14. Sort a DataFrame by one or more columns.

In [ ]:
15. Reset and set a new index in a DataFrame.

# INTERMEDIATE LEVEL (20 Questions)

In [ ]:
1. Filter rows based on a single condition and multiple conditions.

In [ ]:
2. Find unique values and their counts in a specific column.

In [ ]:
3. Replace specific values in a DataFrame using replace().

In [ ]:
4. Apply a custom function to a column using apply().

In [ ]:
5. Group the DataFrame by a column and calculate mean or sum.

In [ ]:
6. Merge two DataFrames using a common column (inner join).

In [ ]:
7. Concatenate two DataFrames vertically and horizontally.

In [ ]:
8. Create a pivot table from a DataFrame.

In [ ]:
9. Read only specific columns and rows from a CSV file.

In [ ]:
10. Export a DataFrame to a new CSV file.

In [ ]:
11. Count the number of missing values per column.

In [ ]:
12. Find the maximum, minimum, and average of numeric columns.

In [ ]:
13. Replace all NaN values with 0.

In [ ]:
14. Get the top 5 and bottom 5 rows based on a numeric column.

In [ ]:
15. Sort a DataFrame in ascending and descending order.

In [ ]:
16. Convert a DataFrame column into a Python list.

In [ ]:
17. Rename index labels in a DataFrame.

In [ ]:
18. Drop duplicate rows based on all or selected columns.

In [ ]:
19. Create a new column using values from other columns (column-wise operation).

In [ ]:
20. Display only numeric or categorical columns using select_dtypes().