In [1]:
import numpy as np

Q1. Replace all odd numbers in the given array with -1
 input = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
 expected Output->[ 0, -1, 2, -1, 4, -1, 6, -1, 8, -1]

In [4]:
arr = np.arange(0,10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
arr[arr%2 !=0] = -1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

Q2. Convert a 1-D array into a 2-D array with 3 rows
input = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8]) output = [[ 0, 1, 2],[3, 4, 5],[6, 7, 8]]

In [63]:
arr = np.arange(0,18).reshape(3,6)
arr

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17]])

Q3. Create a 2-D array with 202 to all the values
Output = [[202, 202],[202, 202]]

In [25]:
arr = np.full(4,202).reshape(2,2)
arr

array([[202, 202],
       [202, 202]])

Q4. Generate a 1-D array of 10 random integers. Each integer should be a number between 30 and 40 (inclusive)
output = [36, 30, 36, 38, 31, 35, 36, 30, 32, 34]

In [37]:
arr = np.random.randint(30,41,10)
arr

array([35, 39, 31, 31, 40, 32, 34, 40, 34, 37], dtype=int32)

Q.5 Extract the first four columns of this 2-D array
input = np.arange(100).reshape(5,-1) output = [[ 0 1 2 3],[20 21 22 23],[40 41 42 43],[60 61 62 63],[80 81 82 83]]

In [38]:
arr = np.arange(100).reshape(5,-1)
arr

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
        36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55,
        56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75,
        76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95,
        96, 97, 98, 99]])

In [39]:
arr[:,0:4]

array([[ 0,  1,  2,  3],
       [20, 21, 22, 23],
       [40, 41, 42, 43],
       [60, 61, 62, 63],
       [80, 81, 82, 83]])

Q.6 Create a null vector of size 10
output = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [43]:
arr = np.zeros(10,dtype=int)
arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [45]:
arr = np.full(10,0)
arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

Q.7 Create a null vector of size 10 but the fifth value which is 1
output = [0, 0, 0, 0, 1, 0, 0, 0, 0, 0]

In [48]:
arr = np.full(10,0)
arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [49]:
arr[4] = 1
arr

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0])

Q.8 Reverse a vector (first element becomes last)

In [50]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [55]:
arr[::-1]

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

Q.9 Create a 3x3 identity matrix

In [56]:
np.eye(3,3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

Q.10 Create a 3x3x3 array with random values

In [60]:
arr = np.random.randint(2,8,size=(3,3,3))
arr

array([[[5, 2, 2],
        [4, 7, 4],
        [6, 2, 3]],

       [[6, 2, 6],
        [6, 4, 4],
        [7, 4, 2]],

       [[6, 5, 4],
        [4, 4, 7],
        [5, 4, 7]]], dtype=int32)

Q.11 Create a 10x10 array with random values and find the minimum and maximum values

In [68]:
arr = np.random.randint(1,100,size=(10,10))
arr

array([[29,  7, 74, 80, 82, 28, 65, 10, 52, 91],
       [13, 56, 18,  6, 21, 77, 42, 22, 89, 58],
       [87, 21, 94, 62, 30, 74, 81, 81, 65, 69],
       [62, 71, 86, 88, 65, 91, 14, 82, 44, 44],
       [67, 52,  2, 14,  3, 56, 93, 48,  7, 97],
       [37, 73,  3, 27, 19, 75, 28, 12, 91, 31],
       [55, 80, 42, 92, 94, 21, 32, 96, 52, 63],
       [12, 23, 76, 97, 73, 67, 96, 84, 24, 23],
       [51, 69, 68, 49, 11, 82,  6, 37,  5, 12],
       [71, 97,  8, 58, 14, 26, 83,  1, 12, 34]], dtype=int32)

In [74]:
print(arr.max())

97

In [73]:
print(arr.min())

1

Q.12 Create a random vector of size 30 and find the mean value

In [81]:
arr = np.random.randint(10,200,30)
arr

array([ 62,  85, 171,  36,  72,  51,  43,  38, 119,  89, 173, 136, 168,
        83,  33, 112,  17,  91, 106,  60,  99,  86, 116, 164,  75,  53,
       183, 176,  15,  25], dtype=int32)

In [82]:
arr.mean()

np.float64(91.23333333333333)

Q.13 Create a 2d array with 1 on the border and 0 inside

In [111]:
arr = np.ones((6,6),dtype='i')
arr

array([[1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1]], dtype=int32)

In [113]:
arr[1:-1,1:-1] = 0
arr

array([[1, 1, 1, 1, 1, 1],
       [1, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 1],
       [1, 1, 1, 1, 1, 1]], dtype=int32)

Q.14 Multiply a 5x3 matrix by a 3x2 matrix (real matrix product)

In [114]:
arr1 = np.random.randint(5,10,size=(5,3))
arr1

array([[7, 8, 9],
       [8, 9, 9],
       [6, 7, 9],
       [7, 8, 8],
       [9, 9, 7]], dtype=int32)

In [116]:
arr2 = np.random.randint(5,10,size=(3,2))
arr2

array([[5, 7],
       [7, 5],
       [7, 8]], dtype=int32)

In [119]:
np.dot(arr1,arr2)

array([[154, 161],
       [166, 173],
       [142, 149],
       [147, 153],
       [157, 164]], dtype=int32)

Q.15 Create a random vector of size 10 and sort it

In [121]:
arr = np.random.randint(5,10,10)
arr

array([9, 6, 5, 8, 9, 8, 7, 7, 6, 5], dtype=int32)

In [124]:
np.sort(arr)

array([5, 5, 6, 6, 7, 7, 8, 8, 9, 9], dtype=int32)

Q.16 How to convert a float (32 bits) array into an integer (32 bits) in place?

In [138]:
arr = np.zeros((3,3))
print(arr.dtype)
arr

float64

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [139]:
arr = arr.astype('i')
print(arr.dtype)
arr

int32

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]], dtype=int32)

Q.17 How to swap two rows of an array?

In [ ]:
dont know