In [4]:
import pandas as pd
import numpy as np

In [26]:
df1 = pd.read_csv('employees.csv')

# Load the second dataset (only when you reach the Merging/Joining questions)
df2 = pd.read_csv('departments.csv')

1.  **Creation:** Create a pandas Series from a Python list `[10, 20, 30]` with custom indices `['a', 'b', 'c']`.

In [5]:
l = [10, 20, 30]
n=['a','b','c']
S = pd.Series(l,index=n)

2.  **Numpy conversion:** Given a Series `s`, write code to extract its underlying data as a NumPy array (Hint: `.values`).

In [11]:
S.values

array([10, 20, 30], dtype=int64)

3.  **Index extraction:** Write code to print *only* the index labels of a Series `s`.

In [9]:
S.index

Index(['a', 'b', 'c'], dtype='object')

4.  **Naming:** Create a Series and assign it the name "Student_Marks". Print the name to verify.

In [13]:
s = pd.Series([23,45,24,21,56,24,67],name = 'Student_marks')
s.name

'Student_marks'

5.  **Uniqueness:** Given `s = pd.Series([1, 2, 3, 3])`, write code to check if all values in `s` are unique (returns a single Boolean).

In [22]:
s = pd.Series([1, 2, 3, 3])
s.is_unique

False

6.  **Size vs Shape:** Print the `.size` and `.shape` of a Series. Are they different?

In [23]:
print(s.size)
print(s.shape)

4
(4,)

7.  **Preview:** Write code to show the first 3 and last 3 rows of a massive Series.

In [27]:
df1.head(3)

,ID,Name,Age,Department,Salary,Join_Date,City,Email
0,101,Alice Smith,25.0,HR,50000.0,2020-01-15,New York,alice@gmail.com
1,102,Bob Jones,30.0,IT,60000.0,2019-05-20,Los Angeles,bob@yahoo.com
2,103,Charlie Brown,35.0,Sales,55000.0,2021-03-10,New York,charlie@gmail.com

In [28]:
df1.tail(3)

,ID,Name,Age,Department,Salary,Join_Date,City,Email
12,113,Mona Lisa,27.0,Sales,54000.0,2021-12-01,Bhopal,mona@gmail.com
13,114,NaN,33.0,Marketing,66000.0,2018-03-15,Los Angeles,NaN
14,115,Oliver Twist,38.0,Admin,78000.0,2017-10-30,Chicago,oliver@company.com

8.  **Type Check:** Write code to check the data type (`dtype`) of the elements in a Series.

In [29]:
s.dtype

dtype('int64')

9.  **Memory Usage:** Write a command to display the memory usage of a Series including its index.

In [40]:
df1.memory_usage(index=True, deep = True)

Index         132
ID            120
Name          862
Age           120
Department    794
Salary        120
Join_Date     885
City          854
Email         931
dtype: int64

13. **Frequency Count:** Given `s = pd.Series(['a', 'b', 'a', 'c', 'a', 'b'])`, count how many times each letter appears.

In [41]:
s = pd.Series(['a', 'b', 'a', 'c', 'a', 'b'])
s.value_counts()

a    3
b    2
c    1
Name: count, dtype: int64

14. **Relative Frequency:** Modify the previous code to show **percentages** instead of raw counts (Hint: `normalize`).

In [44]:
s = pd.Series(['a', 'b', 'a', 'c', 'a', 'b'])
s.value_counts(normalize=True) * 100

a    50.000000
b    33.333333
c    16.666667
Name: proportion, dtype: float64

15. **Unique Items:** Extract an array of the distinct values in `s`.

In [45]:
s = pd.Series(['a', 'b', 'a', 'c', 'a', 'b','c','e','b','s','a'])
s.unique()

array(['a', 'b', 'c', 'e', 's'], dtype=object)

16. **Count Distinct:** Write code to return the *number* of unique values in `s` (Answer should be an integer).

In [46]:
s.nunique()

5

17. **Sorting Values:** Sort `s` in **descending** order.

In [49]:
S.sort_values(ascending=False)

c    30
b    20
a    10
dtype: int64

18. **Na Position:** You have `s = pd.Series([10, np.nan, 20])`. Sort it such that the `NaN` appears at the **top** (beginning).

19. **Filtering (Isin):** Given `s = pd.Series(['cat', 'dog', 'bird', 'fish'])`, select only the elements that are either 'cat' or 'fish' using `.isin()`.

20. **Boolean Indexing:** Select all values in a numeric Series `s` that are greater than the mean of `s`.

23. **Dict to DF:** Create a DataFrame from this dictionary: `{'Name': ['Tom', 'Jerry'], 'Age': [20, 22]}`.

24. **Column Selection:** Write code to select just the 'Name' column as a **Series**.

25. **Column Selection (Frame):** Write code to select just the 'Name' column as a **DataFrame** (Keep the dimension).

26. **CSV Reading:** Read a file `data.csv` but only load the columns "Age" and "Salary". (Hint: `usecols`).

27. **Headerless CSV:** Read a CSV file that has no headers, and assign your own column names `['A', 'B', 'C']`.

28. **Structure:** Write the command to print the summary of a DataFrame (columns, non-null counts, dtypes).

29. **Statistics:** Generate descriptive statistics (mean, min, max, quartiles) for all numeric columns.

30. **Numpy to DF:** Create a DataFrame with 5 rows and 3 columns filled with random numbers.

33. **Set Index:** Make the 'ID' column the index of the DataFrame `df`.

34. **Loc (Label):** Select the row with index label "Row_5".

35. **Loc (Slicing):** Select rows from index label "A" to "C" (inclusive) and columns "Name" and "Age".

36. **Iloc (Position):** Select the first 5 rows and the last 2 columns using integer positions.

37. **Conditional Loc:** Update the "Status" column to "Passed" for all rows where "Grade" > 70.

38. **Fancy Indexing:** Select rows 1, 3, and 5 using a list of integers.

39. **Reset Index:** Your index is messy. Reset it to the default 0, 1, 2... and drop the old index completely.

40. **Fast Scalar Access:** (Bonus) Look up the value at row label 'X' and column 'Y' using `.at` (faster than loc).

43. **Find Nulls:** Return a Boolean DataFrame showing True where data is missing.

44. **Count Nulls:** Calculate the total number of missing values in *each column*.

45. **Filter Nulls:** Display only the rows that contain at least one missing value.

46. **Drop Rows:** Remove all rows that contain *any* missing values.

47. **Drop Columns:** Remove columns that contain *any* missing values.

48. **Threshold Drop:** Drop rows only if they have **more than 2** missing values.

49. **Fill (Constant):** Replace all NaNs with the number 0.

50. **Fill (Mean):** Fill missing values in the "Age" column with the mean age.

51. **Forward Fill:** Fill missing values using the value from the previous row (`ffill`).

54. **Basic Group:** Group `df` by "Department" and calculate the mean "Salary".

55. **Multiple Columns:** Group by both "Department" and "Gender" and find the max "Age".

56. **Get Group:** Extract the sub-DataFrame for the "HR" department from a groupby object.

57. **Agg (Multiple):** Calculate both the `mean` and `sum` of "Sales" for each region using `.agg()`.

58. **Agg (Custom):** Group by "City" and find the `mean` of "Temp" and the `max` of "Humidity" (Different functions for different columns).

59. **Apply:** Write a custom function `range_diff` (max - min) and apply it to each group in "Salary".

60. **Size vs Count:** Group by "Team" and run `.size()` and `.count()`. Explain the difference in the output.

63. **Concatenation (Vertical):** Stack two DataFrames `df1` and `df2` on top of each other.

64. **Concatenation (Horizontal):** Paste `df1` and `df2` side-by-side.

65. **Inner Merge:** Merge `df_orders` and `df_customers` on "CustomerID" (keep only matching records).

66. **Left Join:** Keep all `df_employees` and add department info from `df_dept`. Fill missing matches with NaN.

67. **Outer Join:** Merge two dataframes keeping ALL rows from both.

68. **Indicator:** Perform a merge and add a column `_merge` that tells you if the row came from "left_only", "right_only", or "both".

69. **On vs Index:** Merge `df1` on column "key" and `df2` on its index.

72. **String - Upper:** Convert the "City" column to uppercase using `.str`.

73. **String - Contains:** Find all rows where "Email" contains "@gmail.com".

74. **String - Split:** The "Name" column has "First Last". Split it into two columns.

75. **Map:** Convert "Gender" column `['M', 'F']` to `[0, 1]` using a dictionary and `.map()`.

76. **Pivot Table:** Create a spreadsheet-style pivot table with "Date" as rows, "City" as columns, and "Sales" as values.

77. **Date Conversion:** Convert a string column "Date_Str" to datetime objects using `pd.to_datetime`.

78. **Date Parts:** Extract the "Year" and "Month" from a datetime column.

79. **Resampling:** Downsample daily sales data to Monthly average sales (`.resample('M')`).

80. **Shift:** Create a new column "Previous_Price" that shifts the "Price" column down by 1 row (useful for calculating changes).

81. **Diff:** Calculate the difference between today's sales and yesterday's sales directly.

82. **Plotting:** Plot a simple line chart of "Sales" using `.plot()`.

85. **Explode:** You have a column where every cell contains a list `[A, B]`. How do you split these lists into separate rows?

86. **Memory Optimization:** How do you convert a string column with few unique values (e.g., "Low", "Med", "High") to a `Category` dtype to save memory?

87. **Query:** Use the `.query()` string syntax to filter rows where `Age > 25` and `Department == 'IT'`.

88. **Pipe:** Explain how to use `.pipe()` to chain custom functions for cleaner code.

89. **Window Functions:** Calculate a 7-day rolling average of the "Price" column.

90. **Crosstab:** Compute a simple frequency table of "Region" vs "Product" (How many of each product sold in each region).

91. How to drop duplicate rows? (`drop_duplicates`)

92. How to rename columns? (`rename`)

93. How to check for nulls? (`isna` / `isnull`)

94. How to fill nulls with the value below? (`bfill`)

95. How to turn a DataFrame into a CSV string instead of a file? (`to_csv(None)`)

96. How to get the index of the maximum value? (`idxmax`)

97. How to calculate correlation between columns? (`corr`)

98. How to get the n smallest values? (`nsmallest`)

99. How to iterate over rows (slow but sometimes needed)? (`iterrows`)

100. **The Golden Rule:** "If you are using a `for` loop in Pandas, you are probably doing it wrong." Why?


### ðŸ—£ï¸ Viva / Interview Questions

10. **Values vs Array:** "Does `series.values` always return a NumPy array? What happens if the Series contains nullable integers or strings?"

11. **Lists vs Series:** "Why use a Pandas Series instead of a standard Python list? Name two specific advantages."

12. **Index Uniqueness:** "Does a Pandas Index *have* to be unique? What happens if I try to access a label that appears twice?"


21. **Unique vs Nunique:** "What is the difference between `.unique()` and `.nunique()`? Which one returns a list/array and which one returns a number?"

22. **Value_counts defaults:** "Does `.value_counts()` include `NaN` values by default? How can I force it to show missing value counts?"


31. **Series vs DataFrame:** "Technically, is a DataFrame a collection of Series? If I extract one row, what type of object do I get?"

32. **In-place:** "Most Pandas operations return a new object. Name one parameter common to many methods that allows you to modify the object in-place."


41. **Loc vs Iloc:** "Explain the fundamental difference between `.loc` and `.iloc`. Which one includes the 'stop' endpoint in a slice?"

42. **Copy vs View:** "If I select a subset like `df2 = df[df['Age'] > 20]`, does `df2` modify the original `df`? What is the `SettingWithCopyWarning`?"


52. **None vs NaN:** "In a pandas object of integers, what happens to the `dtype` if I introduce a `np.nan`? Why?"

53. **Hasnans:** "Series has a property `.hasnans`. Is this faster than checking `.isnull().any()`?"


61. **Split-Apply-Combine:** "Explain the 'Split-Apply-Combine' strategy. What is actually stored in the `groupby` object before you call an aggregation?"

62. **Transform:** "How is `.transform()` different from `.apply()`? If I want to normalize data within groups but keep the original shape, which one do I use?"


70. **Concat vs Merge:** "When should I use `concat` and when should I use `merge`?"

71. **Cardinality:** "What happens if I merge on a column that has duplicate values in BOTH dataframes? (Cartesian product/Explosion). Why is this dangerous?"


83. **Map vs Apply:** "`.map()` works on Series. `.apply()` works on DataFrames/Series. `.applymap()` works on DataFrames. Can you explain when to use which?"

84. **Vectorization (Strings):** "Why should I use `df['col'].str.lower()` instead of `df['col'].apply(lambda x: x.lower())`?"